:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #b47b12;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding-top: 100px;
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 100px);
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.main {
  flex: 1;
}

.header {
  background-color: rgb(255, 255, 255);
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  box-shadow: 0 0 10px 1px #000;
  z-index: 100;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 100px;
}

.logo__img {
  height: 100px;
}

.navigation__item {
  font-size: 20px;
  text-decoration: none;
  color: #333;
  font-weight: 600;
  transition: 0.3s;
}

.navigation__item:hover {
  opacity: 0.8;
}

.navigation__item:active {
  opacity: 0.5;
}

.navigation__item:not(:last-child) {
  margin-right: 25px;
}

.product__content {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-evenly;
}

.product__block {
  width: 500px;
  height: 736px;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  color: #b47b12;
}

.product__image {
  width: 100%;
  height: 500px;
  object-fit: contain;
}

.product__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 211px;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
}

.product__price-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product__price {
  font-size: 18px;
}

.btn-primary {
  cursor: pointer;
  height: 40px;
  width: 100px;
  background-color: #b47b12;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
}

.btn-primary:hover {
  opacity: 0.8;
}

.btn-primary:active {
  color: #b47b12;
  background-color: #fff;
}

.title {
  text-align: center;
}

.cart__items {
  display: flex; 
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin: 20px 0;
}

.cart__empty {
  font-size: 28px;
  text-align: center;
}

.cart__count {
  text-align: center;
  font-size: 24px;
}

.cart__count > span {
  color: rgb(107, 218, 3);
}

.cart__content {
  text-align: center;
}

.cart__clear-btn {
  background-color: #333;
  margin: 20px 0;
}

.filter__items {
  padding: 0;
}

.filter__item {
  width: 150px;
  cursor: pointer;
  list-style-type: none;
  margin-bottom: 5px;
  background-color: #333;
  padding: 5px;
  border-radius: 5px;
  font-size: 18px;
  transition: 0.3s;
}

.filter__item:hover {
  opacity: 0.8;
}

.active {
  background-color: #b47b12;
  color: #333;
  box-shadow: 1px 1px 5px 1px #333;
}

.sort__btn {
  width: 160px;
  background-color: #333;
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: 0.3s;
}

.sort__btn:hover {
  opacity: 0.8;
}

.sort__btn:active {
  background-color: #b47b12;
  color: #333;
  box-shadow: 1px 1px 5px 1px #333;
}

.footer {
  background-color: #fff;
  margin-top: 50px;
}

.footer__content {
  text-align: center;
  color: #b47b12;
}